.post-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 -15px;
}
.post-item {
    margin: 15px;
    background: #f2e0d2;
    border-radius:5px;
    padding: 15px;
    display: grid!important;
    grid-template-rows: 1fr 130px 1fr;
}
.post-name {
    color:#7a3a3a;
    text-transform: uppercase;
}
.post-message {
    margin: 10px 0;
    overflow: auto;
}
.post-message p {
    color:#3d362e;
}
.post-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: end;
}
.post-content .user {
    color:#a8a8a6;
}